.team_container{
    height:100%;
    width:100%;
}
.team_maintitle{
    font-family: Montserrat;
    font-size:300%;
    font-weight: 400;
    font-style: bold;
    display:flex;
    margin-left:6%;
    padding-top: 4%;
}

.team_card_container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-top:3%;
}